{% load static %}

<link rel="stylesheet" href="{% static 'css/poster.css' %}">


<div class="col-sm-6 item">
    <div class="row">
        <div class="col-md-6 col-lg-5"><a href="#"><img class="img-fluid" src="{{ event.poster.url }}" /></a></div>
        <div class="col">
            <h3 class="name">{{ event.title }}</h3>
            <p></p>
            <p class="description">{{ event.start_date }}</p>
            <p class="description">{{ event.end_date }}</p>
            <p></p>
            <p class="description">남은 기한: {{ event.remain_date }} 일</p>
        </div>
    </div>
</div>