<section class="projects-horizontal">
    <div class="container">
        <div class="row projects">
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="{{ event.poster.url }}" /></a></div>
                    <div class="col">
                        <h3 class="name">{{ event.title }}</h3>
                        <p class="description">{{ event.start_date }}</p>
                        <p class="description">{{ event.end_date }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>