django~=3.2.8
ipython
django-postgres-extra
python-dateutil~=2.8.0
django-seed
pillow
psycopg2
psycopg-binary
requests~=2.26.0
numpy
django-storages[azure]
django-allauth
django-rest-framework
pyjwt~=1.7.1
djangorestframework-jwt
django-cors-headers