{% load static %}

<link rel="stylesheet" href="{% static 'css/model-card.css' %}">

<div class="col-sm-2 model-card"><a href="#">
    </a>
    <div class="bsblox-image-effect16"><a href="#">
        {% if person.image %}
            <img class="img-fluid" src="{{ person.image.url }}" />
        {% else %}
            <img class="img-fluid" src="{% static 'img/no-photo-available.jpeg' %}" />
        {% endif %}

        <div class="bsblox-caption">
            <p>VIEW<strong>PROFILE</strong></p>
        </div>
        </a>
        <div class="bsblox-links">
            <a href="#"></a>
            <a class="profile-link" href="#1">
                <i class="fa fa-search fa fa-search"></i>
            </a>
        </div>
        <div class="text-center model-card-title">{{ person.name }}</div>
    </div>
</div>