{% load static %}

<link rel="stylesheet" href="{% static 'css/model-poster.css' %}">

<div class="rounded col-sm-2 model-poster"><a href="#">
    </a>
    <div class="rounded bsblox-image-effect16"><a href="#">
        {% if type == 'event' %}
            {% if object.image %}
                <img class="rounded img-fluid" src="{{ object.image.url }}" />
            {% else %}
                <img class="img-fluid" src="{% static 'img/no-photo-available.jpeg' %}" />
            {% endif %}
        {% else %}
            {% if object.image %}
                <img class="rounded img-fluid" src="{{ object.image.url }}" />
            {% else %}
                <img class="img-fluid" src="{% static 'img/no-photo-available.jpeg' %}" />
            {% endif %}
        {% endif %}


        <div class="bsblox-caption">
            {% if type == 'event' %}
                <p>VIEW <strong>EVENT</strong></p>
            {% else %}
                <p>VIEW <strong>COUPON</strong></p>
            {% endif %}
        </div>
        </a>
        <div class="bsblox-links">
            <a href="#"></a>
            {% if type == 'event' %}
                <a class="profile-link" href="{% url 'event:event-detail' object.pk %}">
            {% elif type == 'coupon' %}
                <a class="profile-link" href="{% url 'event:coupon-detail' object.pk %}">
            {% endif %}
                <i class="fa fa-search fa fa-search"></i>
            </a>
        </div>
        <div class="text-center model-poster-title">{{ object.name }}</div>
    </div>
</div>