{% load static %}

<link rel="stylesheet" href="{% static 'css/movie-card.css' %}">

<figure class="snip1253 hover">
    <div class="image">
        {% if movie.backdrop %}
            <img class="img-fluid img-thumbnail" src="{{ movie.backdrop.url }}" alt="sample66" />
        {% else %}
            <img class="img-fluid img-thumbnail" src="{% static 'img/no-photo-available.jpeg' %}" />
        {% endif %}
    </div>
    <figcaption>
        <div class="date"><span class="day">{{ movie.opening_date.day }}</span><span class="month">{{ movie.opening_date|date:"N" }}</span></div>
        <h3 class="text-center">{{ movie.name|truncatechars:"13" }}</h3>
        <p>
            {{ movie.summary|truncatechars:"100" }}
        </p>
    </figcaption>
    <footer>
        <div class="views"><i class="fas fa-clock"></i></i>{{ movie.running_time }}</div>
        <div class="views"><i class="fas fa-eye"></i>1,870</div>
        <div class="love"><i class="fas fa-heart"></i>973</div>
    </footer><a href="#"></a>
</figure>