{% extends '_base.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/calender.css' %}">

{% block content %}
    <div class="container-fluid h-75">
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Attendanve Info</p>
            </div>
            <div class="table-responsive overflow-auto" style="height: 600px; background-color: white">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                        <!-- for 으로 날짜 데이터 입력-->
                        <div class="container">
                            <div style="height: 38px"></div>
                            <div style="display: flex; ">
                                <div  style="width: 100px; padding-top: 6px; border : 1px solid blue; margin-right: 3px; margin-bottom: 3px; text-align: center;" >이름</div>
                                {% for day in days_of_month %}
                                    <div style=" width:35px; height: 35px; border: 1px solid red; margin-right: 3px; margin-bottom: 3px; text-align: center; padding-top: 4px;">{{ day }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        </tr>
                    </thead>
                    <tbody>
                        {% for attendance in attendances %}
                            <div class="container">
                                <div style="display: flex; ">
                                        <div  style="width: 100px; padding-top: 6px; border : 1px solid blue; margin-right: 3px; margin-bottom: 3px; text-align: center;" >{{ attendance.employee.user.full_name }}</div>
                                        {% for day in days_of_month %}
                                            <div style=" width:35px; height: 35px; border: 1px solid red; margin-right: 3px; margin-bottom: 3px; text-align: center; padding-top: 4px;">{{ attendance.status }}</div>
                                        {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}